{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="row" style="margin-bottom: 100px;">
        <div class="col-md-3 sidebar-left">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="row perfil-home">
                        <div class="col-md-4 ">
                            <img src="{% static 'img/photo.jpg' %}" class="img-circle" width="80">
                        </div>
                        <div class="col-md-8 text-center" style="padding-top: 5%;">
                            <logo>
                                <a href="{% url 'exibir_meu_perfil' user.perfil.id %}"> {{ user.perfil.nome }}</a>
                            </logo>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Publicações</h3>
                    </div>
                    <div class="panel-body">
                     <textarea name="texto" required class="form-control input-postagem" rows="2"
                               placeholder="O que você tem em mente hoje?"></textarea>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="submit" class="btn btn-sm btn-primary" value="Partilhar">
                    </div>
                </div>
            </form>
            {% if postagens %}
                {% for postagem in postagens %}
                    <div class="panel panel-default" id="postagem{{ postagem.id }}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-9">
                                    <img style="float: left" src="{% static 'img/photo.jpg' %}" class="img-circle"
                                         width="30">
                                    <span style="display:inline-block; padding-top:1%;">&nbsp;{{ postagem.perfil.nome }}</span>
                                </div>
                                <div class="col-md-3 text-right">
                                    <span class="dropdown">
                                    <a href="#" class="btn btn-link dropdown-toggle option" data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false"><span
                                            class="fa fa-ellipsis-v"></span></a>
                                    <ul class="dropdown-menu text-left">
                                        <li><a style="cursor: pointer" class="action"
                                               param="{{ postagem.id }}"
                                               data-msg="Deseja deletar a postagem '{{ postagem.texto }}' ?"
                                               positive="DeletePostagem"><i class="fa fa-trash"></i> Deletar</a></li>
                                    </ul>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ postagem.texto }}
                        </div>
                        <div class="panel-footer text-right">
                            <small>{{ postagem.data }}</small>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-muted">Ainda não há postagens relacionadas ao seu perfil</p>
            {% endif %}
        </div>
        <div class="col-md-3 sidebar-right">
            <div class="panel panel-default">
                {% with total=user.perfil.contatos.count %}
                    {% if total %}
                        <div class="panel-heading">
                            <strong> {{ total }}
                                Amigo{{ total|pluralize }}
                            </strong>
                        </div>
                        <ul class="list-group">
                            {% for perfil in user.perfil.contatos.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'exibir' perfil.id %}">
                                        {{ perfil }}
                                    </a>
                                    <a class="pull-right" href="#">
                                        desfazer amizade
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="panel-body text-muted">
                            <p>Não há amigos :(</p>
                            <p class="text-center"><a class="btn btn-primary btn-sm">Convidar amigo</a></p>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Todos os perfis</strong>
                </div>
                {% if perfis %}
                    <ul class="list-group">
                    {% for perfil in perfis %}
                        <li class="list-group-item">
                            <a href="{% url 'exibir' perfil.id %}">    {{ perfil.nome }} / {{ perfil.email }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>Não há perfis cadastrados</p>
                {% endif %}
                </ul>
            </div>


            <div class="panel panel-default">
                {% with total=user.perfil.convites_recebidos.count %}

                    {% if total %}
                        <div class="panel-heading">
                            <strong> {{ total }}
                                Convite{{ total|pluralize }} aguardando aprovação</strong>
                        </div>

                        <div class="panel-body">

                            <ul class="list-group">
                                {% for convite in user.perfil.convites_recebidos.all %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="{% url 'exibir' convite.solicitante.id %}">
                                            {{ convite.solicitante.nome }}
                                        </a>

                                        <a href="{% url 'aceitar' convite.id %}" class="btn btn-primary btn-sm" >Aceitar</a>

                                        <a href="{% url 'recusar' convite.id %}" class="btn btn-danger btn-sm">Recusar</a>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% else %}
                        <div class="panel-body">
                            Não há convites
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

    </div>

    <script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}