{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}

<div class="row" style="margin-bottom: 100px;">
    <div class="col-md-3 sidebar-left">
        <div class="panel panel-default">

            {% if not perfil.usuario.is_active %}
                <div class="panel-body" style="opacity: 0.5">
            {% else %}
                <div class="panel-body">
            {% endif %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="{{ perfil.imagem.url }}" class="img-circle" width="80">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" style="padding-top: 5%;">
                        <logo>{{ perfil.nome }}</logo>
                    </div>

                    {% if not perfil.usuario.is_active %}
                        <p align="center">{% trans 'Conta inativa' %}</p>
                    {% endif %}

                    <div class="col-md-12 text-center" style="padding-top: 5%;">
                        {% if regra_convite.pode and perfil.usuario.is_active %}
                            <a href="{% url 'convidar' perfil.id %}" class="btn btn-sm btn-success">{% trans 'Adicionar aos amigos' %}</a>
                        {% elif perfil.usuario.is_active %}
                            {% if regra_convite.motivo == 'friends' %}
                                <a href="{% url 'desfazer' perfil.id %}" class="btn btn-sm btn-danger">{% trans 'Desfazer amizade' %}</a>
                            {% else %}
                                <a href="" class="btn btn-sm btn-warning"> {% trans 'Solicitação pendente' %}</a>
                            {% endif %}
                        {% endif %}

                        {% if not perfil in user.perfil.bloqueados.all and perfil.usuario.is_active %}
                            <a href="{% url 'bloquear' perfil.id %}" class="btn btn-sm btn-secondary">{% trans 'Bloquear usuário' %}</a>
                        {% endif %}

                        {% if user.is_superuser and perfil.usuario_is_active %}
                            {% if perfil.usuario.is_superuser %}
                                <a href="{% url 'toogle-promover' perfil.id %}"
                                   style="display: block; margin-top: 10px;" class="btn btn-sm btn-danger">{% trans 'Rebaixar' %}
                                    <i class="fa fa-arrow-down"></i></a>
                                {% else %}
                                <a href="{% url 'toogle-promover' perfil.id %}"
                                   style="display: block; margin-top: 10px;" class="btn btn-sm btn-primary">
                                    {% trans 'Promover' %} <i style="color: yellow;" class="fa fa-superpowers"></i></a>
                            {% endif %}
                        {% endif %}

                    </div>
                    <br>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <div class="input-group-addon">
                                       <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-9 text-left">
                                   {% trans 'Trabalha em' %} {{ perfil.nome_empresa }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row text-center">
                                <div class="col-md-2 text-center">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-9 text-left">
                                    {{ perfil.telefone }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-9 text-left ">
                                    {{ perfil.email }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-6">
        {% include 'base/postagem.html' %}
    </div>
</div>
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}