{% load static %}
{% load i18n %}
<div id="app-postagens">
        <div v-for="postagem in postagens" class="panel panel-default" :id="'postagem' + postagem.id">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <img style="float: left" :src="[[postagem.perfil.imagem]]"
                             class="img-circle {% if  postagem.perfil == user.perfil %}
                            my-photo
                        {% endif %}"
                             width="40" height="40">
                        <span style="display:inline-block; padding-top:1%;">&nbsp;&nbsp;&nbsp;[[postagem.perfil.nome]] </span>
                        <br>
                        <small style="display: block" class="text-muted">&nbsp;&nbsp;&nbsp;[[ postagem.data ]]
                                <span v-if="postagem.privacidade == 'PRIVATE'" class="fa fa-lock" title="{% trans 'Somente eu' %}"></span>
                                <span v-if="postagem.privacidade == 'FRIENDS'"class="fa fa-group" title="{% trans 'Amigos' %}"></span>
                                <span v-if="postagem.privacidade == 'PUBLIC'" class="fa fa-globe" title="{% trans 'Público' %}"></span>
                        </small>
                    </div>

                        <div v-if="postagem.perfil.usuario.id == '{{ user.id }}' || postagem.perfil.usuario.is_superuser " class="col-md-3 text-right">
                        <span class="dropdown">
                        <a href="#" class="btn btn-link dropdown-toggle option" data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span
                                class="fa fa-ellipsis-v"></span></a>
                        <ul class="dropdown-menu text-left">
                        <li><a  style="cursor: pointer"
                                class="action"
                               @click="deletePost(postagem.id)"
                               data-msg="Deseja deletar a postagem?"
                               positive="DeletePostagem"><i
                                class="fa fa-trash"></i>{% trans 'Deletar' %} </a></li>

                    </ul>
                    </span>
                        </div>
                </div>
            </div>
            <div class="panel-body">
                [[ postagem.texto ]]
                    <img v-if="postagem.imagem  != null " style="width: 100%; max-height: 626px;" :src="[[ postagem.imagem ]]"
                         class="img-fluid" alt="{% trans 'Foto' %}">
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-10">
                        <span class="badge" id="postagem[[ postagem.id ]]reaction">0</span>
                    </div>
                </div>
                <ul class="nav nav-pills nav-justified">
                    <li style="min-width: 2%; max-width: 2%" role="presentation"><a data-toggle="popover"
                                                                                    role="button" tabindex="0"
                                                                                    data-placement="top"
                                                                                    data-trigger="focus"
                                                                                    data-content='
                       <div class="emojis">
                       {% for reaction_type in postagem.get_reaction_type %}
                           <i  style=" color:{{ reaction_type.color }}" onclick="reaction({{ postagem.id }}, {{ reaction_type.id }})" class="emoji animated infinite  slow {{ reaction_type.animation }} {{ reaction_type.icon }}"></i>
                       {% endfor %}

                       </div>
                        '><span id="container[[ postagem.id ]]reaction">
                        {% if user.perfil in postagem.reactions.all %}
                            {% for reaction in postagem.get_reacoes %}
                                {% if user.perfil == reaction.perfil %}
                                    <i style="color:{{ reaction.tipo.color }}" class="{{ reaction.tipo.icon }}"
                                       aria-hidden="true"></i> {{ reaction.tipo.label }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> {% trans 'Reagir' %}
                        {% endif %}
                    </span></a></li>
                    <li role="presentation"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> {% trans 'Comentar' %} </a>
                    </li>
                    <li role="presentation"><a href="#"><i class="fa fa-share" aria-hidden="true"></i> {% trans 'Partilhar' %}</a>
                    </li>
                </ul>


            </div>
        </div>
  <div class="col-lg-12 text-center">
        <a @click="loadPage" v-if="url" class="btn btn-default btn-sm">{% trans 'Mais postagem' %} </a>
  </div>
</div>
<script type="text/javascript">
    var appPostagem = new Vue({
            el: '#app-postagens',
            delimiters: ['[[', ']]'],
            data: {
                postagens: [],
                scroll: 0,
                url: '/v1/postagens/',

            },
            created() {
                this.loadPage()
            },
            methods: {
                loadPage(){
                    if (this.url != null){
                        axios.get(this.url)
                        .then(response => {
                            let data = response.data
                            console.log(data.results);
                            this.url = data.next
                            this.postagens = this.postagens.concat(data.results)
                            console.log(this.postagens)
                        }, (error) => {

                        })
                    }
                },
                deletePost(id){
                   var r = confirm("Deseja realmente deletar esta postagem");
                    if (r == true) {
                        DeletePostagem(id)
                    } else {

                    }
                }

            }
        })

</script>