{% load static %}
<div id="app-postagens">
    {% for postagem in postagens %}
        <div class="panel panel-default" id="postagem{{ postagem.id }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <img style="float: left" src="{{ postagem.perfil.imagem.url }}"
                             class="img-circle {% if  postagem.perfil == user.perfil %}
                            my-photo
                        {% endif %}"
                             width="40" height="40">
                        <span style="display:inline-block; padding-top:1%;">&nbsp;{{ postagem.perfil.nome }}</span>
                        <small style="display: block" class="text-muted">{{ postagem.data }}
                            {% if postagem.privacidade ==  'PRIVATE' %}
                                <span class="fa fa-lock" title="{{ postagem.PRIVACIDADES.2.1 }}"></span>
                            {% elif postagem.privacidade ==  'FRIENDS' %}
                                <span class="fa fa-group" title="{{ postagem.PRIVACIDADES.1.1 }}"></span>
                            {% else %}
                                <span class="fa fa-globe" title="{{ postagem.PRIVACIDADES.0.1 }}"></span>
                            {% endif %}

                        </small>
                    </div>
                    {% if user.id == postagem.perfil.usuario.id or user.is_superuser == True %}
                        <div class="col-md-3 text-right">
                        <span class="dropdown">
                        <a href="#" class="btn btn-link dropdown-toggle option" data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span
                                class="fa fa-ellipsis-v"></span></a>
                        <ul class="dropdown-menu text-left">

                        <li><a style="cursor: pointer" class="action"
                               param="{{ postagem.id }}"
                               data-msg="Deseja deletar a postagem '{{ postagem.texto }}' ?"
                               positive="DeletePostagem"><i
                                class="fa fa-trash"></i> Deletar</a></li>

                    </ul>
                    </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                {{ postagem.texto }}
                {% if postagem.imagem %}
                    <img style="width: 100%; max-height: 626px;" src="{{ postagem.imagem.url }}"
                         class="img-fluid" alt="Foto">
                {% endif %}
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-10">
                        <span class="badge" id="postagem{{ postagem.id }}reaction">{{ postagem.reactions.count }}</span>
                    </div>
                </div>
                <ul class="nav nav-pills nav-justified">
                    <li style="min-width: 2%; max-width: 2%" role="presentation"><a data-toggle="popover"
                                                                                    role="button" tabindex="0"
                                                                                    data-placement="top"
                                                                                    data-trigger="focus"
                                                                                    data-content='
                       <div class="emojis">
                       {% for reaction_type in postagem.get_reaction_type %}
                           <i  style=" color:{{ reaction_type.color }}" onclick="reaction({{ postagem.id }}, {{ reaction_type.id }})" class="emoji animated infinite  slow {{ reaction_type.animation }} {{ reaction_type.icon }}"></i>
                       {% endfor %}

                       </div>
                        '><span id="container{{ postagem.id }}reaction">
                        {% if user.perfil in postagem.reactions.all %}
                            {% for reaction in postagem.get_reacoes %}
                                {% if user.perfil == reaction.perfil %}
                                    <i style="color:{{ reaction.tipo.color }}" class="{{ reaction.tipo.icon }}"
                                       aria-hidden="true"></i> {{ reaction.tipo.label }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> Reagir
                        {% endif %}
                    </span></a></li>
                    <li role="presentation"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> Comentar</a>
                    </li>
                    <li role="presentation"><a href="#"><i class="fa fa-share" aria-hidden="true"></i> Partilhar</a>
                    </li>
                </ul>


            </div>
        </div>
    {% endfor %}
    <p class="text-muted">Ainda não há postagens relacionadas a este perfil</p>
</div>
<scrip>
    var appPostagem = new Vue({
            el: '#app-postagens',
            data: {
                unidadeGestora: 0,
                logged: false,
                messages: []
            },
            created() {
                let logado = getLogado()
                if (logado) {
                    this.logged = true;
                    this.loadChat();
                    this.listenerChat();
                }
            },
            mounted() {

            },
            watch: {
                messages: function (val) {
                    console.log(val)
                }
            },
            methods: {
                loadChat() {
                    let logado = getLogado()
                    db.collection("users").doc(logado.id).collection("chats").doc(logado.chat).collection("messages").orderBy("data_create")
                        .onSnapshot(function (doc) {
                            app.$data.messages = doc.docs;
                        });
                },
                listenerChat() {
                    let logado = getLogado()
                    db.collection("users").doc(logado.id).collection("chats").doc(logado.chat)
                        .onSnapshot(function (doc) {
                           let data = doc.data();
                           if(data.atendida == true){
                               $("#profile").attr('src',data.user_data.foto);
                               $("#username").text(data.user_data.nome);
                           }
                        });
                },
                botSend(msg){
                    let logado = getLogado()
                    db.collection("users").doc(logado.id).collection("chats").doc(logado.chat).collection('messages').add({
                        msg: msg,
                        tipo: 0,
                        data_create: new Date()
                    })
                        .then(function (docRef) {
                            console.log("Mensagem enviada pot bot: ", docRef.id);
                        })
                        .catch(function (error) {
                            console.error("Erro ao enviar mensagem por bot:", error);
                        });
                },
                onEnviar() {
                    let logado = getLogado()
                    db.collection("users").doc(logado.id).collection("chats").doc(logado.chat).collection('messages').add({
                        msg: $('#text').val(),
                        tipo: 2,
                        data_create: new Date()
                    })
                        .then(function (docRef) {
                            $('#text').val("")
                            $('#text').css("height", "50px")
                            console.log("Mensagem enviada: ", docRef.id);
                        })
                        .catch(function (error) {
                            console.error("Erro ao enviar mensagem:", error);
                        });
                },
                criarUsuario() {
                    let logado = getLogado()
                    db.collection("users").add({
                        nome: logado.nome,
                        email: logado.email,
                        data_create: new Date()
                    })
                        .then(function (docRef) {
                            addUserId(docRef.id)
                            app.criarChat()
                            console.log("Usuário Logado com sucesso: ", docRef.id);
                        })
                        .catch(function (error) {
                            console.error("Erro ao criar o documento:", error);
                        });
                },
                criarChat() {
                    let logado = getLogado()
                    db.collection("users").doc(logado.id).collection("chats").add({
                        atendida: false,
                        usuario: 0,
                        data_create: new Date()
                    })
                        .then(function (docRef) {
                            addChatID(docRef.id)
                            app.botSend("Bem vindo ao chat do Diofe aguarde um pouco para que um de nossos operadores lhe atenda ou deixe sua mensagem aqui nesta sala!")
                            app.loadChat()
                            app.listenerChat()
                            console.log("Chat criado com sucesso: ", docRef.id);
                        })
                        .catch(function (error) {
                            console.error("Chat não foi criado", error);
                        });
                },
                onLogar() {
                    if (is_valid()) {
                        setLogado({"nome": $('#nome').val(), "email": $('#email').val()});
                        let email = $('#email').val();
                        db.collection("users").where("email", "==", email).get().then(function (querySnapshot) {

                            if (querySnapshot.empty) {
                                app.criarUsuario()
                            } else {
                                let userRef = querySnapshot.docs[0].ref
                                addUserID(userRef.id)
                                app.criarChat()
                            }
                        });
                        $("#chat-auth").hide()
                        $("#chat-msg").show(100)
                    }
                }

            }
        })
</scrip>