{% extends 'base_home.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="active" id="login-form-link">Digite a nova senha</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        <span>
                            Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.
                        </span>

                        <form id="login-form" action="{% url 'password_reset_confirm' %}" method="post"
                              role="form" style="display: block;">

                            {% csrf_token %}

                            <div class="form-group">
                                <input class="form-control" placeholder="Nova senha:" type="password" name="new_password1" required id="id_new_password1">
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Confirme a senha:" type="password" name="new_password2" required id="id_new_password2">
                            </div>

                            {% if form.erros %}
                            <div class="alert alert-danger">
                                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>
                                Por favor, verifique o Email e/ou Senha informados
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="password-reset-submit" id="password-reset-submit"
                                               tabindex="4"
                                               class="form-control btn btn-login" value="Alterar minha senha">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}