{% extends 'base_home.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        <a href="#" class="active" id="login-form-link">
                            <p>{% trans "Redefinição de senha enviada" %}</p>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10 col-sm-offset-1">
                        <h4 align="justify">
                            {% trans "Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve." %}
                        </h4>

                        <h4 align="justify">
                            {% trans "Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam." %}
                        </h4>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}