{% extends 'base_home.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        <a href="#" class="active" id="login-form-link">
                            <p>{% trans "Redefinição de senha enviada" %}</p>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 align="justify">
                            {% trans "Tudo Ok! Sua conta foi recuperada com sucesso, e você já pode acessar novamente sua conta." %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}